out/
logs/
run/
.idea/
data/
.vscode/launch.json
public/electron/
.yalc/
chrome/
build/
library/

.DS_Store
Thumbs.db
node_spider/
core_node/

.vscode/
.idea/
*.suo
*.zip
*.ntvs*
*.njsproj
*.sln
*.sw*
.next/

node_modules/

dist/
build/
*.pyc
*.class

*.log
*.tmp

.env.local
.env.*.local

custom_file.txt
custom_folder/
